.ProfileWidget {
  background-color: #fff;
  display: flex;
  flex-flow: column;
}

.Image {
  padding: 20px 40px;
  flex-grow: 100;
  margin: auto;
}

.Image img {
  border-radius: 50%;
  height: 80px;
}

.UserName {
  font-size: 23px;
  font-weight: bold;
  color: #5a7391;
  text-align: center;
}

.UserRole {
  font-size: 16px;
  font-weight: bold;
  color: #5a7391;
  text-align: center;
  background-color: #f9f9f9;
  padding: 25px 0;
  margin-top: 20px;
}

.Status {
  padding: 15px 0;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.StatusItem {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 20px;
  color: #797979;
}

@media (min-width: 500px) {
  .Image {
    padding: 30px 80px;
  }

  .Image img {
    height: 120px;
  }
}
